{% extends 'base.html.twig' %}

{% block title %}Chagnolet | About{% endblock %}

{% block body %}
<div class="container">
    <div class="card mx-auto">
        <h2 class="card-header">Details of the house and cottage</h2>
        <div class="card-body">
            <p class="first-line">We have tried to provide enough detail and pictures so that you can get a good feel for the place without being overwhelmed however if you want to know more then drop us a line and we can provide some more detailed information.</p>
            <p>The property is an old water mill which we have restored and comprises the main mill house and separate cottage with a central courtyard (perfect for boules!) and bbq. The large pool (11m x 6m) with Roman steps has a solar heated poolside shower, is surrounded by patio areas and well maintained gardens with lawns areas and a magical circle of plane trees offering much-needed shade.</p>
            <p>The main house comfortably sleeps 11 with a fully fitted kitchen/diner with all appliances (inc. washing machine & dishwasher) and hand made table seating 16</p>
            <div>
                <div>
                    <p>Downstairs with views over the mill stream:</p>
                    <ul>
                        <li>One king (en-suite shower/ WC)</li>
                        <li>One twin</li>
                        <li>One bath/shower/WC</li>
                    </ul>
                </div>
                <div>
                    <p>Upstairs in the restored granary with lovely beams and exposed stone walls:</p>
                    <ul>
                        <li>One double</li>
                        <li>One twin</li>
                        <li>One triple</li>
                        <li>2 WC/Shower rooms</li>
                    </ul>
                </div>
            </div>
            <p>The cottage has one twin with a shower/WC, a double with bath/shower/WC and a kitchen diner with wood burning stove</p>
        </div>
    </div>

    <div class="image-container">
        <div class="main-img">
            <img src="/img/16.jpg" id="current">
        </div>

        <div class="imgs">
            <img src="/img/16.jpg">
            <img src="/img/17.jpg">
            <img src="/img/2.jpg">
            <img src="/img/3.jpg">
            <img src="/img/5.jpg">
            <img src="/img/6.jpg">
            <img src="/img/7.jpg">
            <img src="/img/8.jpg">
            <img src="/img/9.jpg">
            <img src="/img/10.jpg">
            <img src="/img/11.jpg">
            <img src="/img/12.jpg">
            <img src="/img/13.jpg">
            <img src="/img/14.jpg">
            <img src="/img/15.jpg">
            <img src="/img/4.jpg">
            <img src="/img/1.jpg">
        </div>
    </div>
</div>

{% block javascripts %}
<script src="/js/about.js"></script>
{% endblock %}
{% endblock %}