{% extends 'basefr.html.twig' %}

{% block title %}Chagnolet | Environs{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mx-auto">
            <h2 class="card-header">Cressé et ses environs</h2>
            <div class="card-body">
                <p class="first-line">Cressé est un petit village dans la région Charante-Maritime de la France occidentale Du sud. Nous sommes seulement une promenade courte dans Cressé elle-même et environ 10 minutes conduisent à Matha où il y a des magasins, des supermarchés et de bons restaurants tout près. La belle ville romaine de la rue Jean est d'Angély de 30 minutes conduisent tandis que la ville célèbre du cognac est 40 minues.</p>
                <p>Certaines des activités tout près incluent:</p>
                <ul>
                    <li>Golf - il y a beaucoup d'excellents cours de golf dans la region</li>
                    <li>Tennis</li>
                    <li>Les plages entourant La Rochelle sont environ une heure partie</li>
                    <li>Karting - à l'intérieur et dehors</li>
                    <li>Le parc de l'eau de l'Atlantide à St Jean</li>
                    <li>Voyages de fleuve et canoeing</li>
                    <li>Excursions autour des distilleries célèbres de cognac du monde telles que Hennesey et Remy Martin</li>
                </ul>
                <p>Les aéroports les plus proches sont Poitiers et La Rochelle, de ce qui sont environ 90km partis et servis par Ryanair.</p>
            </div>
        </div>
    </div>
{% endblock %}