{% extends 'base.html.twig' %}

{% block title %}Chagnolet | Area{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mx-auto">
            <h2 class="card-header">Cressé and the surrounding area</h2>
            <div class="card-body">
                <p class="first-line">Cressé is a small village in the Charante-Maritime region of South West France. We are only a short walk into Cressé itself and about 10 minutes drive to Matha where there are shops, supermarkets and good restaurants nearby. The beautiful Roman town of St Jean d'Angély is 30 minutes drive while the famous town of Cognac is 40 minues.</p>
                <p>Some of the activities nearby include:</p>
                <ul>
                    <li>Golf - there are many excellent golf courses in the region</li>
                    <li>Tennis</li>
                    <li>The beaches surrounding La Rochelle are about an hour away</li>
                    <li>Karting - both indoors and out</li>
                    <li>The Atlantis water park in St Jean</li>
                    <li>River trips and canoeing</li>
                    <li>Tours around the world famous Cognac distilleries such as Hennessy and Remy Martin</li>
                </ul>
                <p>The nearest airports are Poitiers and La Rochelle, both of which are about 90km away and served by Ryanair.</p>
            </div>
        </div>
    </div>
{% endblock %}