{% extends 'basefr.html.twig' %}

{% block title %}Chagnolet | Contact{% endblock %}

{% block body %}
<div class="container">
    <div class="card mx-auto">
        <h2 class="card-header">Les détails pour contact</h2>
        <div class="card-body">
            <p class="first-line">Nous habitons le moulin dans une partie séparée de la maison avec notre propre jardin pour vous garantir votre intimité. Cependant nous sommes à votre disposition pour toute aide ou renseignements durant votre séjour.</p>
            <p>Pour toute réservation ou informations supplémentaires voici nos coordonnées.</p>
            <p>Andrew et Wendy Gill: </p>
            <p>Tel: +33-5-46-59-28-10 HELLO</p>
            <div class="form-container">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>


{% endblock %}