{% extends 'base.html.twig' %}

{% block title %}Chagnolet | Home{% endblock %}

{% block body %}
<div class="container">
    <div class="card mx-auto">
        <h2 class="card-header">Welcome to our beautifully restored old mill house </h2>
        <div class="card-body">
            <p class="first-line">In a tranquil setting on the outskirts of Cressé with stunning views over fields beyond, this lovely old mill house and its separate cottage offers every luxury.</p>
            <p>Please have a look over the details of the property and the surrounding area, if you have any questions then drop us a line and we'll be more than happy to answer them.</p>
            <p>Andrew and Wendy Gill</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper-twoimg">
        <div>
            <img src="/img/outside.jpg" class="frontpage-img rounded">
        </div>
        <div>
            <img src="/img/flyby.jpg" class="frontpage-img rounded">
        </div>
    </div>
</div>
{% endblock %}