{% extends 'basefr.html.twig' %}

{% block title %}Chagnolet | Home{% endblock %}

{% block body %}
<div class="container">
    <div class="card mx-auto">
        <h2 class="card-header">Bienvenue dans notre vieux moulin à eau magnifiquement restauré</h2>
        <div class="card-body">
            <p class="first-line">Dans une campagne tranquille aux abords du village de Cressé, au bord de la rivière Antenne, entouré de champs et de bois, ce beau et vieux moulin offre tout le luxe désiré.</p>
            <p>Voyez les détails de la propriété et des environs, si vous souhaiter nous questionner à ce sujet, n'hésitez pas à nous contacter et nous serons heureux de vous répondre.</p>
            <p>Andrew et Wendy Gill</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper-twoimg">
        <div>
            <img src="/img/outside.jpg" class="frontpage-img rounded">
        </div>
        <div>
            <img src="/img/flyby.jpg" class="frontpage-img rounded">
        </div>
    </div>
</div>
{% endblock %}