<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chagnolet | Merci!</title>
    <link rel="icon" href="/img/favicon.ico" type="image/ico" sizes="16x16">
    <link rel="stylesheet" href="/bootstrapcss/bootstrap.min.css">
    <link rel="stylesheet" href="/css/thankyou.css">
</head>
<body>
    <div class="jumbotron text-xs-center margin-top">
        <h1 class="display-3">Merci!</h1>
        <p class="lead"><strong>Votre message a été envoyé! </strong></p>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/fr/" role="button">Retour à la page d'accueil</a>
        </p>
    </div>
</body>
</html>