<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chagnolet | Thank you!</title>
    <link rel="stylesheet" href="/bootstrapcss/bootstrap.min.css">
    <link rel="stylesheet" href="/css/thankyou.css">
</head>
<body>
    <div class="jumbotron text-xs-center margin-top">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Your message has been sent</strong></p>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
        </p>
    </div>
</body>
</html>