html,body {
  display:table;
  border-collapse: collapse;
  height:100%;
  width:100%;
}

.wrapper {
  padding: 20px;
  height:auto;

}

footer {
    display:table-row;
    height: 50px;
    border-top: rgb(146, 139, 139) 4px solid;
  }

.flags {
  width: 65px; 
  float:right; 
  margin-left:0.2%;
  margin-bottom:1.5%;
  border: #000 1px solid;
}

#logo {
  width: 250px;
  float: left;
  margin-top:1%;

}

h2 {
  text-align:center;
  margin-top:0%;
  margin-bottom: 0%;
}

.first-line {
  margin-top:1.5%;
}
 
.wrapper-twocol {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:0.2%;
}

.frontpage-img {
  width: 100%;
}

#bullet-margin {
  margin-left: 3.5%;
}

.wrapper-twoimg {
  display:grid;
  grid-template-columns: 43.8% 56.2%;
  margin-top: 2%;
  grid-gap:0.2%;
}

.form-container {
  width: 70%;
  margin:auto;
  margin-top:3%;
}

.my-navbar {
  height:auto;
  width:100%;
  overflow: hidden;
  background-color:#343a40;
  padding-bottom: 10px;
  border-bottom: rgb(146, 139, 139) 4px solid;
}

.row-nav-item a {
  display:block;
  float:left;
  color:#fff;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding:0;
  margin-left: 2%;
  color: rgb(189, 185, 185);
}

.row-nav {
  padding:0;
  list-style: none;
  padding-top: 73px;
}

.push-right {
  margin-left:79%;
}

#menu-btn {
  width:20px;
  float:left;
  margin-top:10px;
}

@media (max-width:1200px) {
  .push-right{
    margin-left: 65%;
  }
}

.col-nav {
  padding:0;
  list-style: none;
  margin:0;
}

#col-nav-container {
  margin-top: 25px;
  height:0;
  /* transition:height 200ms ease-in; */
  transition:height 0.5s;
}

.col-nav-item {
  padding-top: 5px;
}

.col-nav-item a {
  color: rgb(189, 185, 185);
  padding: 0;
  display:block;
}