<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="/bootstrapcss/bootstrap.min.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ include('/inc/navbar.html.twig') }}
        <div class="wrapper">
        {% block body %}{% endblock %}
        </div>
        {{ include ('/inc/footer.html.twig') }}
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
        <!-- <script src="/bootstrapjs/bootstrap.min.js"></script> -->
        <script src="/js/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
