<footer class="footer navbar-dark bg-dark">
    <div class="wrapper">
        <div class="container">
            <img src="/img/frenchflag.png" class = "flags">
            <img src="/img/ukflag.png" class = "flags">
        </div>
    </div>
</footer>