<nav class="navbar navbar-expand-md navbar-dark bg-dark" style= "margin-bottom:1%;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="mobile-nav">
            <img src="/img/logo.png" id = "logo">
            <ul class="navbar-nav mr-auto" style="margin-left:2%;">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="/area" class="nav-link">Area</a>
                </li>
            </ul>
        </div>
        <!-- <div class="mx-auto order-0">
            <img src="/img/logo.png" style="width:100%;">            
        </div> -->
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/prices">Prices & Availability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
        </div>
    </div>
</nav>