<nav class="my-navbar" style= "margin-bottom:1%;">
    <div class="container">

        <div class="">
            <img src="/img/menu.svg" id="menu-btn">
            <img src="/img/logo.png" id = "logo">
            <ul class="row-nav">
                <li class="row-nav-item">
                    <a href="/" class="">Home</a>
                </li>
                <li class="row-nav-item">
                    <a href="/about" class="">About</a>
                </li>
                <li class="row-nav-item">
                    <a href="/area" class="">Area</a>
                </li>
                <li class="push-right row-nav-item">
                        <a class="" href="/prices">Prices & Availability</a>
                </li>
                <li class="row-nav-item">
                    <a class="" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <!-- <div class="mx-auto order-0">
            <img src="/img/logo.png" style="width:100%;">            
        </div> -->
        <div id="col-nav-container">
            <ul class="col-nav">
                <li class="col-nav-item">
                    <a href="/" class="">Home</a>
                </li>
                <li class="col-nav-item">
                    <a href="/about" class="">About</a>
                </li>
                <li class="col-nav-item">
                    <a href="/area" class="">Area</a>
                </li>
                <li class="col-nav-item">
                        <a class="" href="/prices">Prices & Availability</a>
                </li>
                <li class="col-nav-item">
                    <a class="" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>